---
layout: default
---



<header class="container-fluid  nrc-template-header ">
  <div class="container">

    <div class="nrc-template-header__main row">
      <!--template bindings={}--><div class="col-12 col-lg-3 nrc-template-header__image nrc-template-header__image--image nrc-template-header__image--profile">
        <!--template bindings={}--><img class="nrc-template-header__image-content lazyautosizes ls-is-cached lazyloaded" data-sizes="auto" data-src="/myportal/C_A944/api/content/download?id=617180eac02825009a91b623&amp;size=lg" data-srcset="/myportal/C_A944/api/content/download?id=617180eac02825009a91b623&amp;size=sm 200w, /myportal/C_A944/api/content/download?id=617180eac02825009a91b623&amp;size=md 600w, /myportal/C_A944/api/content/download?id=617180eac02825009a91b623&amp;size=lg 601w" alt="Immagine di Matteo Lepore" sizes="270px" srcset="https://lh3.googleusercontent.com/a/ACg8ocLh1GyTugFam2sqmOxilWV6z6FhFIlrlR_tc1WUvIRUUfZNgvs=s288-c-no" src="/myportal/C_A944/api/content/download?id=617180eac02825009a91b623&amp;size=lg">
        <!--template bindings={}-->
      </div>

      <div class="nrc-template-header__content col-lg-9 nrc-template-header__content--with-cta">

        <!--template bindings={}-->
        <!--template bindings={}--><!--template bindings={}-->
          <div class="nrcbi-short-description row mt-3" data-element="service-description">
            <div class="col-12 nrc-template-header__newSubtitle"><h4>Benvenuto</h4></div>
          </div><!--template bindings={}--><h1 class="nrcbi-template-header__heading" data-element="page-name">Gabriel Jones</h1>
          
        

        
        
        
        

        

        
        

        
          

          <div class="nrcbi-short-description row mt-3" data-element="service-description">
            <div class="col-12 nrc-template-header__newSubtitle"><h4>nel tuo desk personale
</h4></div>
          </div>

          <!--template bindings={}-->
        

        <div class="row mt-3">
          <div class="col-12 col-lg-5 nrc-template-header__toolbar ">
            <!--template bindings={}-->

            <!--template bindings={}-->

            <!--template bindings={}-->
            <!--template bindings={}--><!--template bindings={}-->
              <nrcbi-social-share>
<div aria-labelledby="nrcbi-social-share__heading" class="nrcbi-social-share modal fade" id="nrcbi-social-share" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" id="nrcbi-social-share-modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title h5 " id="nrcbi-social-share__heading">Condividi questa pagina</h2>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true" class="icon fs-5 fal-times"></span>
                    </button>
                </div>
            </div>
        </div>
    </div></nrcbi-social-share>
            
          </div>

          <!--template bindings={}--><div class="col-12 col-lg-7 nrc-template-header__secondary-classification text-end">
            <!--template bindings={}-->
            <!--template bindings={}--><!--template bindings={}-->
              <nrcbi-content-classification>
  <div class="nrcbi-content-classification">
    
    <!--template bindings={}-->
    
    <!--template bindings={}-->
  
    <div class="nrcbi-content-classification__grouped-classification">
      <!--template bindings={}--><div>
        <!--template bindings={}--><!--template bindings={}-->
          <!--template bindings={}--><a class="chip chip-simple chip-primary">
              <span class="icon far-tags" title="Altre categorie"></span>
              <span class="chip-label">ADMINISTRATOR</span>
          </a><a class="chip chip-simple chip-primary">
              <span class="icon far-tags" title="Altre categorie"></span>
              <span class="chip-label">Politico</span>
          </a><a class="chip chip-simple chip-primary">
              <span class="icon far-tags" title="Altre categorie"></span>
              <span class="chip-label">Studente</span>
          </a><a class="chip chip-simple chip-primary">
              <span class="icon far-tags" title="Altre categorie"></span>
              <span class="chip-label">Bibliotecario</span>
          </a><a class="chip chip-simple chip-primary">
              <span class="icon far-tags" title="Altre categorie"></span>
              <span class="chip-label">Dipendente FVG</span>
          </a><a class="chip chip-simple chip-primary">
              <span class="icon far-tags" title="Altre categorie"></span>
              <span class="chip-label">StudenteOSF</span>
          </a><a class="chip chip-simple chip-primary">
              <span class="icon far-tags" title="Altre categorie"></span>
              <span class="chip-label">Educatore</span>
          </a></div>
    </div>

  </div>
	</nrcbi-content-classification>
            
          </div>
        </div>
      </div> 
    </div> 

  </div>
</header>



  <!-- Breadcrumb -->
  <nav class="breadcrumb-container mb-4" aria-label="Percorso di navigazione">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/desk/top/">Directory Centrale</a>
      </li>
    </ol>
  </nav>

  <!-- Titolo sezione -->
  <div class="mb-4">
    <h1 class="mb-2">{{ page.title }}</h1>
    <p class="lead text-muted">
      Cartella con atti interni, atti pubblici, documenti e link
    </p>
  </div>



  {% if page.files %}
  <!-- Griglia card -->
  <div class="row g-4">

    {% for file in page.files %}
    <div class="col-12 col-md-6 col-lg-4">
      <a href="{{ file.url }}"
         class="text-decoration-none text-reset">

        <div class="card card-bg h-100 card-link">
          <div class="card-body">

            <svg class="icon icon-lg icon-primary mb-3">
              <use href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-{{ file.icon }}"></use>
            </svg>

            <h2 class="h6 mb-1">{{ file.title }}</h2>

            <p class="small text-muted mb-0">
              {{ file.date }}{% if file.ext %}, {{ file.ext }}{% endif %}
            </p>

          </div>
        </div>
      </a>
    </div>
    {% endfor %}

  </div>
  {% else %}
    <p>Nessun file disponibile.</p>
  {% endif %}